@import "~bootstrap/scss/bootstrap";

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #edefee;
$secondary-color: #d08856;
$third-color: #aa210f;
$fourth-color: #41403c;

body {
  font: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  margin: 0;
}

header {
  padding: 1em;
}

section {
  height: 20rem;
  padding: 5em 2em;
  color: $secondary-color;
  &:nth-child(even) {
    background-color: $fourth-color;
  }
}
